.service-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  gap: 20px; /* Espacement entre les cartes */
}

.service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: navy !important; /* Couleur par défaut */
  color: white;
  width: 245px;
  padding: 20px;
  border-radius: 40px 0 40px 0 !important; /* Coin supérieur gauche et coin inférieur droit arrondis */
  text-align: center;
  box-shadow: 0 4px 8px antiquewhite;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.service-card.active {
  background-color: whitesmoke !important; /* Couleur de fond différente lorsqu'elle est active */
}

.service-icon {
  font-size: 40px;
  margin-bottom: 10px;
}

/* Couleur blanche pour le titre */
.service-title {
  font-size: 14px;
  font-weight: bold;
  color: white !important; /* Utilisation de white */
}

.service-card:hover .service-title {
  color: white; /* Assurez-vous que c'est bien white ici aussi */
}
