/* Background and Section Styling */
.services-section {
  padding: 40px;
  background-color: whitesmoke !important;
  color: #fff !important;
  text-align: center;
  position: relative;
}

.services-header h1 {
  
    font-size: 42px;
    font-weight: bold;
    color: #333;
    margin: 0;
    position: relative;
}
.services-header h1::before {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background-color: blue; /* Yellow color */
  margin: 0 auto 10px auto;
}
.services-header h1::after {
  content: "";
  display: block;
  width: 30px;
  height: 4px;
  background-color: blue; /* Yellow color */
  margin: 10px auto 0 auto;
}
.services-header h2 {
  font-size: 16px;
    color: #666;
    margin: 10px 0 0 0;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase;
}

.services-header h2 span {
  color: #00bbf0 !important;
}

.view-all-button {
  background-color: #00bbf0 !important;
  color: #fff !important;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.3s;
}

.view-all-button:hover {
  background-color: #00bbf0 !important;
}

/* Carousel Styling */
.services-carousel {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: nowrap;
  overflow: hidden;
  margin-top: 30px;
}

.service-card {
  background-color: #1a1a2e;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 220px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(123, 97, 255, 0.3);
}

.icon {
  font-size: 40px;
  color: antiquewhite !important;
  margin-bottom: 15px;
}

h3 {
  font-size: 1.2em;
  margin: 15px 0;
  color: #fff;
}

p {
  font-size: 0.9em;
  color: #aaa;
  line-height: 1.5;
}

/* Carousel Buttons */
.carousel-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.carousel-button {
  background-color: #00bbf0;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.carousel-button:hover {
  background-color: blue;
}
